* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

a {
  cursor: pointer;
  text-decoration: none; }

.primary-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: 1s fadein 0.5s forwards;
          animation: 1s fadein 0.5s forwards; }
  @media (min-width: 768px) {
    .primary-nav {
      padding-top: 80px; } }
  @media (min-width: 1010px) {
    .primary-nav {
      padding-top: 20px; } }

.primary-nav__logo {
  position: absolute;
  top: 20px;
  left: 40px;
  text-decoration: none;
  font-size: 2.4em;
  color: #fff;
  font-size: 24px;
  font-weight: 600; }
  @media (min-width: 768px) {
    .primary-nav__logo {
      left: 60px; } }

.primary-nav__burger {
  position: absolute;
  top: 10px;
  right: 40px;
  display: inline-block;
  color: #fcac45;
  font-size: 2.4em; }
  .primary-nav__burger:hover {
    cursor: pointer; }
  @media (min-width: 768px) {
    .primary-nav__burger {
      display: none; } }

.primary-nav__row {
  display: none;
  background: #fcac45;
  width: 100%;
  margin-top: 70px; }
  @media (min-width: 768px) {
    .primary-nav__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-right: 45px;
      margin-left: 45px;
      background: none;
      margin-top: 0px; } }
  @media (min-width: 1010px) {
    .primary-nav__row {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-left: 0;
      width: 80%; } }

.primary-nav__row--open {
  display: block;
  padding: 4px 0; }

.primary-nav__link {
  text-decoration: none;
  font-size: 0.8em;
  color: #fff;
  padding-bottom: 10px; }
  .primary-nav__link:hover {
    color: black; }
    @media (min-width: 768px) {
      .primary-nav__link:hover {
        color: #fff;
        border-bottom: 2px solid #fcac45; } }

.primary-nav__list {
  display: block;
  padding: 5px 0;
  text-align: center;
  font-size: 1.4em; }
  @media (min-width: 481px) {
    .primary-nav__list {
      padding: 8px 0; } }
  @media (min-width: 768px) {
    .primary-nav__list {
      display: inline-block;
      padding: 0 0.4rem; } }

.large-hero-image {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  height: 380px; }
  @media (min-width: 768px) {
    .large-hero-image {
      min-height: 100vh; } }
  .large-hero-image__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background-size: cover;
    z-index: -1; }
    @media (min-width: 481px) {
      .large-hero-image__image {
        height: 500px; } }
    @media (min-width: 768px) {
      .large-hero-image__image {
        height: 100%; } }
  .large-hero-image__title {
    font-size: 2.2em;
    font-weight: 100;
    color: #c3c3c3;
    line-height: 1;
    margin-top: 20px; }
    @media (min-width: 481px) {
      .large-hero-image__title {
        font-size: 3.8em;
        top: 160px; } }
    .large-hero-image__title--bright {
      color: #fcac45;
      font-weight: 700; }
  .large-hero-image__sub-title {
    color: #fff;
    font-weight: 100;
    font-size: 1.1em;
    color: #c3c3c3;
    margin: 0 auto;
    text-align: center;
    width: 93%; }
    @media (min-width: 481px) {
      .large-hero-image__sub-title {
        top: 220px;
        left: 40px;
        right: 40px;
        font-size: 1.5em;
        font-weight: 400; } }
    .large-hero-image__sub-title--bold {
      font-weight: 700; }
  .large-hero-image__content-area {
    opacity: 0;
    margin-top: 100px;
    -webkit-animation: 1s slidefade 1s forwards;
            animation: 1s slidefade 1s forwards; }

@-webkit-keyframes slidefade {
  100% {
    opacity: 1; } }

@keyframes slidefade {
  100% {
    opacity: 1; } }

.large-hero-image__icon {
  border: 3px solid #c3c3c3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #c3c3c3;
  text-align: center;
  padding: 15px;
  font-size: 1em;
  margin-top: 60px; }
  @media (min-width: 768px) {
    .large-hero-image__icon {
      margin-top: 60%; } }
  @media (min-width: 1010px) {
    .large-hero-image__icon {
      margin-top: 30%; } }

@media (min-width: 768px) {
  .about {
    margin: 40px; } }

@media (min-width: 1010px) {
  .about {
    width: 38%;
    float: right;
    margin: 40px 10% 0 2%; } }

.about__image {
  margin-top: 60px;
  height: 200px;
  width: 100%;
  border-radius: 10px; }
  @media (min-width: 481px) {
    .about__image {
      height: 300px;
      margin-top: 180px;
      padding-left: 40px;
      padding-right: 40px; } }
  @media (min-width: 768px) {
    .about__image {
      margin-top: 90px;
      height: 400px;
      margin-bottom: 40px; } }
  @media (min-width: 1010px) {
    .about__image {
      width: 38%;
      margin: 80px 2% 60px 10%;
      height: 440px; } }

.about__paragraph {
  color: #5a5a5a;
  margin: 20px 0 20px 0;
  font-weight: 500;
  font-size: 1em; }

.about__browse-btn {
  border: 1px solid #5a5a5a;
  background: none;
  padding: 0.8em 1em;
  color: #5a5a5a;
  cursor: pointer;
  margin: 40px 0;
  display: block;
  font-size: 0.9em;
  text-align: left; }
  .about__browse-btn:hover {
    background-color: #fcac45; }
  .about__browse-btn--link {
    text-decoration: none; }

.about__link {
  color: #5a5a5a;
  cursor: pointer;
  text-decoration: none; }
  .about__link--italic {
    font-style: italic;
    color: #5a5a5a;
    font-weight: 100; }
  .about__link--bold {
    font-weight: 700;
    color: #5a5a5a; }

.contact__form {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .contact__form {
      margin: 0 40px; } }
  @media (min-width: 1010px) {
    .contact__form {
      margin: 0 10%; } }
  .contact__form__label {
    display: inline-block;
    width: 160px;
    text-align: left;
    margin: 12px 0;
    color: #5a5a5a;
    font-size: 0.9em; }
  .contact__form__input {
    font: 1em sans-serif;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 50px; }
  @media (min-width: 1010px) {
    .contact__form__name-container {
      width: 48%;
      float: left; } }
  @media (min-width: 1010px) {
    .contact__form__email-container {
      width: 48%;
      float: right; } }
  .contact__form__textarea {
    font: 1em sans-serif;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 140px; }
  .contact__form__button {
    border: none;
    background: #fcac45;
    padding: 0.8em 1em;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    display: block;
    font-size: 0.9em;
    text-align: right; }
    .contact__form__button:hover {
      background-color: #5a5a5a; }
    @media (min-width: 768px) {
      .contact__form__button {
        margin: 40px 0; } }

.card {
  display: inline-block;
  color: white;
  text-align: center; }

.h4tag {
  margin: 6px 0;
  font-size: 1.4em;
  font-weight: 500;
  text-align: center; }

.h5tag {
  font-size: 1em;
  font-weight: 400;
  margin: 10px 0; }

.ptag {
  font-size: 1em; }

.team {
  background-image: url(../../assets/images/mountain.jpeg);
  background-size: cover;
  background-position: bottom;
  height: 480px; }
  @media (min-width: 1010px) {
    .team {
      margin-top: 60px; } }

.owl-carousel {
  padding-top: 40px;
  width: 85%;
  text-align: center; }
  @media (min-width: 1010px) {
    .owl-carousel {
      width: 80%;
      margin: 0 auto; } }

.owl-carousel .owl-item img {
  width: 80px !important;
  height: 80px !important;
  margin: 0 auto; }

.five {
  border-radius: 50%;
  width: 50px; }

#team-carousel {
  width: 80%;
  margin: 0 auto; }

@media (min-width: 600px) {
  .team {
    height: 740px; }
  .h3tag {
    padding-top: 70px;
    font-size: 3.5em; }
  .lineone {
    margin-top: 10px; }
  .owl-carousel .owl-item img {
    width: 120px !important;
    height: 120px !important; }
  .ptag {
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 1.2em; } }

.services {
  text-align: center; }
  @media (min-width: 768px) {
    .services {
      margin: 0 40px; } }
  @media (min-width: 1010px) {
    .services__card {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }
  @media (min-width: 1010px) {
    .services__card__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      text-align: center;
      margin: 0 10%; } }
  .services__card__heading {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px; }
  .services__card__icon {
    border: 6px solid #fcac45;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 4em;
    margin: 20px 0; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px; }
  @media (min-width: 481px) {
    section {
      padding: 0 40px; } }
  @media (min-width: 768px) {
    section {
      padding: 0; } }

.lineone {
  background-color: orange;
  height: 4px;
  width: 100px;
  margin: 0 auto;
  border: none; }

.linetwo {
  background-color: orange;
  height: 4px;
  width: 70px;
  margin: 10px auto;
  border: none;
  opacity: 0.5; }

.dark__header {
  font-size: 2.2em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0 16px 0;
  line-height: 1; }
  @media (min-width: 481px) {
    .dark__header {
      font-size: 3em; } }
  .dark__header--bold {
    font-weight: 600; }
  .dark__header--sub-header {
    font-style: italic;
    margin: 30px;
    font-size: 1.1em;
    text-align: center; }

.light__header {
  color: white;
  font-size: 2.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin: 40px auto 16px auto;
  line-height: 1; }
  @media (min-width: 481px) {
    .light__header {
      font-size: 3em;
      margin-top: 70px; } }
  .light__header--bold {
    font-weight: 600; }

.portfolio__filter__header {
  font-weight: 700;
  font-size: 1.1em;
  text-align: center; }

.clients {
  background-image: url(../../assets/images/city.jpeg);
  background-size: cover;
  background-position: bottom;
  height: 350px;
  width: 100%; }
  @media (min-width: 481px) {
    .clients {
      height: 440px; } }
  .clients__list {
    color: #c3c3c3;
    font-size: 1em;
    margin-top: 60px; }
    @media (min-width: 481px) {
      .clients__list {
        font-size: 1.4em;
        margin-top: 40px; } }
    @media (min-width: 768px) {
      .clients__list {
        font-size: 2.2em;
        margin-top: 80px;
        margin-bottom: 20px; } }

#chanel {
  font-weight: 700;
  margin: 0 6px; }

#zara {
  letter-spacing: 0.3em;
  font-weight: 500;
  margin: 0 6px; }

#guerlain {
  font-family: 'Times New Roman', Times, serif;
  margin: 0 6px; }

#lancome {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  margin: 0 6px; }

#lacoste {
  font-weight: 700;
  margin: 0 6px; }

#ralphlauren {
  font-family: 'Times New Roman', Times, serif;
  margin: 0 6px; }

#dkny {
  font-weight: 900;
  margin: 0 6px; }

#armani {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  margin: 0 6px; }

#versace {
  letter-spacing: 0.1em;
  margin: 0 6px; }

.testimonials {
  background-image: url(../../assets/images/moon.jpg);
  background-size: cover;
  background-position: bottom;
  height: 370px;
  width: 100%; }
  @media (min-width: 481px) {
    .testimonials {
      height: 500px; } }
  .testimonials__quote {
    color: white;
    font-size: 1.1em;
    font-weight: 500; }
    @media (min-width: 481px) {
      .testimonials__quote {
        font-size: 1.6em; } }
    @media (min-width: 768px) {
      .testimonials__quote {
        font-size: 2em;
        width: 90%;
        margin: 20px auto; } }
    .testimonials__quote--author {
      color: #c3c3c3;
      font-weight: 700; }
    .testimonials__quote--company {
      color: grey;
      font-weight: 400; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

.footer {
  text-align: center;
  background-color: #5a5a5a;
  height: 140px; }
  @media (min-width: 768px) {
    .footer {
      height: 100px; } }
  .footer__copyright {
    color: #c3c3c3;
    padding-top: 30px; }
    @media (min-width: 768px) {
      .footer__copyright {
        float: left;
        padding-top: 45px;
        padding-left: 40px; } }
    @media (min-width: 1010px) {
      .footer__copyright {
        padding-left: 10%; } }
  .footer__icon {
    border: 3px solid #c3c3c3;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #c3c3c3;
    padding: 5px;
    font-size: 1em;
    margin: 20px 2px 10px 0; }
    .footer__icon:hover {
      color: #fcac45;
      border: 3px solid #fcac45; }
    @media (min-width: 768px) {
      .footer__icon {
        float: right;
        margin: 40px 8px 0 0; } }
    @media (min-width: 481px) {
      .footer__icon__container {
        margin-right: 40px; } }
    @media (min-width: 1010px) {
      .footer__icon__container {
        margin-right: 10%; } }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #fff;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #d6d6d6; }
