.about {
  &__image {
    margin-top: 40px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }

  &__paragraph {
    color: $darkgrey;
    margin: 20px 0 20px 0;
    font-weight: 500;
    font-size: 1em;
    width: 98%;
  }

  &__browse-btn {
    border: 1px solid $darkgrey;
    background: none;
    padding: 0.8em 1em;
    color: $darkgrey;
    cursor: pointer;
    margin: 40px 0;
    display: block;
    font-size: 0.9em;
    text-align: left;
    &:hover {
      background-color: $orange;
    }
    &--link {
      text-decoration: none;
    }
  }

  &__link {
    color: $darkgrey;
    cursor: pointer;
    text-decoration: none;

    &--italic {
      font-style: italic;
      color: $darkgrey;
      font-weight: 100;
    }
    &--bold {
      font-weight: 700;
      color: $darkgrey;
    }
  }
}
