.clients {
  background-image: url(../../assets/images/city.jpeg);
  background-size: cover;
  background-position: bottom;
  height: 350px;
  width: 100%;
  @include atSmall {
    height: 440px;
  }
  &__list {
    color: $grey;
    font-size: 0.8em;
    margin-top: 60px;
    @include atSmall {
      font-size: 1.4em;
      margin-top: 80px;
    }
    @include atMedium {
      font-size: 2.2em;
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }
}

#chanel {
  font-weight: 700;
  margin: 0 6px;
}

#zara {
  letter-spacing: 0.3em;
  font-weight: 500;
  margin: 0 6px;
}

#guerlain {
  font-family: 'Times New Roman', Times, serif;
  margin: 0 6px;
}

#lancome {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  margin: 0 6px;
}

#lacoste {
  font-weight: 700;
  margin: 0 6px;
}

#ralphlauren {
  font-family: 'Times New Roman', Times, serif;
  margin: 0 6px;
}

#dkny {
  font-weight: 900;
  margin: 0 6px;
}

#armani {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  margin: 0 6px;
}

#versace {
  letter-spacing: 0.1em;
  margin: 0 6px;
}

#client-carousel {
  margin: 0px auto;
  padding-top: 40px;
  width: 90%;
}
