.contact__form {
  @include atMedium {
    margin: 0 40px;
  }
  @include atLarge {
    margin: 0 10%;
  }
  margin: 0 auto;
  &__label {
    display: inline-block;
    width: 160px;
    text-align: left;
    margin: 12px 0;
    color: $darkgrey;
    font-size: 0.9em;
  }
  &__input {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
  }
  &__name-container {
    @include atLarge {
      width: 48%;
      float: left;
    }
  }
  &__email-container {
    @include atLarge {
      width: 48%;
      float: right;
    }
  }
  &__textarea {
    font: 1em sans-serif;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    height: 140px;
  }
  &__button {
    border: none;
    background: $orange;
    padding: 0.8em 1em;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    display: block;
    font-size: 0.9em;
    text-align: right;
    &:hover {
      background-color: $darkgrey;
    }
    @include atMedium {
      margin: 40px 0;
    }
  }
}
