.large-hero-image {
  position: relative;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 380px;
  @include atMedium {
    min-height: 100vh;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background-size: cover;
    z-index: -1;
    @include atSmall {
      height: 500px;
    }
    @include atMedium {
      height: 100%;
    }
  }
  &__title {
    font-size: 2.2em;
    font-weight: 100;
    color: $grey;
    line-height: 1;
    margin-top: 20px;
    @include atSmall {
      font-size: 3.8em;
      top: 160px;
    }
    &--bright {
      color: $orange;
      font-weight: 700;
    }
  }
  &__sub-title {
    color: #fff;
    font-weight: 100;
    font-size: 1.1em;
    color: $grey;
    margin: 0 auto;
    text-align: center;
    width: 93%;
    @include atSmall {
      top: 220px;
      left: 40px;
      right: 40px;
      font-size: 1.5em;
      font-weight: 400;
    }
    &--bold {
      font-weight: 700;
    }
  }

  &__content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
  }
}

@keyframes slidefade {
  100% {
    opacity: 1;
  }
}

.large-hero-image__icon {
  border: 3px solid $grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: $grey;
  text-align: center;
  padding: 15px;
  font-size: 1em;
  margin-top: 60px;
  @include atMedium {
    margin-top: 60%;
  }
  @include atLarge {
    margin-top: 30%;
  }
}
