.team {
  background-image: url(../../assets/images/mountain.jpeg);
  background-size: cover;
  background-position: bottom;
  height: 480px;
  @include atSmall {
    height: 740px;
  }
  @include atLarge {
    margin-top: 60px;
  }
  &__card {
    display: inline-block;
    color: white;
    text-align: center;
    &__image {
      border-radius: 50%;
      width: 50px;
    }
    &__name {
      margin: 6px 0;
      font-size: 1.4em;
      font-weight: 500;
      text-align: center;
    }
    &__position {
      font-size: 1em;
      font-weight: 400;
      margin: 10px 0;
      @include atSmall {
        font-size: 1.6em;
      }
    }
    &__text {
      font-size: 1em;
      @include atSmall {
        margin-top: 20px;
        margin-bottom: 70px;
        font-size: 1.2em;
      }
    }
  }
}

#team-carousel {
  width: 80%;
  margin: 0 auto;
}
