.portfolio {
  // text-align: center;
  margin: 0 40px;
  &__filter__header {
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    @include atSmall {
      margin: 0;
      text-align: left;
      display: block;
    }
    @include atMedium {
      display: inline-block;
      margin-left: 40px;
      @include atLarge {
        margin-left: 10%;
      }
      @include atExtraLarge {
        margin-left: 21%;
      }
    }
  }
  &__album__thumb {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 260px;
    &:hover .portfolio__album__image__overlay {
      opacity: 1;
    }
  }
  &__album__image {
    display: block;
    width: 100%;
    height: auto;
    &__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: black;
      &__text {
        color: white;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 100%;
        &--heading {
          font-size: 1.2em;
          color: white;
          font-weight: 500;
        }
        &--desc {
          font-size: 1.1em;
          color: $darkgrey;
        }
        &--icon {
          color: $orange;
          font-weight: 100;
          font-size: 2em;
        }
      }
    }
  }
  &__album__wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
  &__filter__filter {
    display: inline-block;
    cursor: pointer;
    margin: 4px 0;
    @include atMedium {
      text-align: right;
    }
    &:hover {
      color: black;
    }
  }
}

.container {
  margin: 0 20px;
  text-align: center;
  @include atSmall {
    margin: 0 40px;
  }
  @include atLarge {
    margin: 0 10%;
  }
  @include atExtraLarge {
    margin: 0 20%;
  }
}

.controls {
  color: $grey;
  margin-right: 20px;
  @include atMedium {
    float: right;
    margin-right: 40px;
  }
  @include atLarge {
    margin-right: 10%;
  }
  @include atExtraLarge {
    margin-right: 21%;
  }
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
