.portfolio {
  // text-align: center;
  margin: 0 40px;
  &__filter__header {
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    @include atSmall {
      margin: 0;
      text-align: left;
      display: block;
    }
    @include atMedium {
      display: inline-block;
      margin-left: 40px;
      @include atLarge {
        margin-left: 10%;
      }
      @include atExtraLarge {
        margin-left: 21%;
      }
    }
  }
  &__album__thumb {
    display: inline-block;
  }
  &__album__wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
  &__filter__filter {
    display: inline-block;
    cursor: pointer;
    margin: 4px 0;
    @include atMedium {
      text-align: right;
    }
    &:hover {
      color: black;
    }
  }
}

.container {
  margin: 0 20px;
  text-align: center;
  @include atSmall {
    margin: 0 40px;
  }
  @include atLarge {
    margin: 0 10%;
  }
  @include atExtraLarge {
    margin: 0 20%;
  }
}

.controls {
  color: $grey;
  margin-right: 20px;
  @include atMedium {
    float: right;
    margin-right: 40px;
  }
  @include atLarge {
    margin-right: 10%;
  }
  @include atExtraLarge {
    margin-right: 21%;
  }
}
