.services {
  text-align: center;
  &__card {
    @include atLarge {
      flex: 1;
    }
    &__container {
      @include atLarge {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0 10%;
      }
    }
    &__heading {
      font-size: 2em;
      font-weight: 500;
      margin-bottom: 10px;
    }
    &__icon {
      border: 6px solid $orange;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      color: black;
      text-align: center;
      padding: 20px;
      font-size: 4em;
      margin: 20px 0;
    }
  }
}
