.testimonials {
  background-image: url(../../assets/images/moon.jpg);
  background-size: cover;
  background-position: bottom;
  height: 370px;
  width: 100%;
  @include atSmall {
    height: 500px;
  }
  &__quote {
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    @include atSmall {
      font-size: 1.6em;
    }
    @include atMedium {
      font-size: 2em;
      width: 90%;
      margin: 20px auto;
    }
    &--author {
      color: $grey;
      font-weight: 700;
    }
    &--company {
      color: grey;
      font-weight: 400;
    }
  }
}

#testimonials-carousel {
  margin: 0px auto;
}
